<div class="container courses">
  <div class="row justify-content-center">
    {{ range .Pages.ByWeight }}
    <div class="col-lg-4 mb-5">
      <div
        style="
          border: 1px solid white;
          background-color: white;
          border-radius: 15px;
        "
      >
        <a
          href="{{.Permalink}}"
          style="text-decoration: none; border-bottom: 1px solid #aaa"
        >
          <div class="border-bottom mb-3 tag-position">
            <img
              src="/images/courses/{{ .Params.image }}"
              height="345" width="406"
              alt="Courses"
            />
            <div class="discount-tag-listpage"
              style="background-color: {{ .Params.color }}"
            >
              {{ .Params.pricingDetails.discount }} Off
            </div>
          </div>
          <h1 class="text-black mb-3 text-center h3-font" style="text-decoration: none">
            <span
              style="text-decoration: none; border-bottom: 3px solid {{ .Params.color }};"
            >
              {{ .Title }}
            </span>
          </h1>
        </a>
        <div class="p-3 d-flex align-items-center justify-content-center">
          <table>
            <tr>
              <td class="text-center px-3">
                <strong>Level</strong><br />
                {{ .Params.level }}<br />
              </td>
              <td class="text-center px-3">
                <strong>Mode</strong><br />
                Online<br />
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text-center pt-3">
                <strong>Pricing</strong><br />
                <h1 class="h3-font">{{ .Params.pricingDetails.price }}</h1>
                <h1 style="font-size: 1rem;" class="text-secondary m-0">
                  <s class="text-secondary"
                    >{{ .Params.pricingDetails.actual }}</s
                  >&nbsp;<span
                    >({{ .Params.pricingDetails.discount }} off)</span
                  >
                </h1>
                ({{ .Params.pricingDetails.offerTime }})
              </td>
            </tr>
          </table>
        </div>
        <div class="mb-3 text-center">
          <a href="{{.Permalink}}">
            <button class="btn btn-primary btn-lg">Explore</button>
          </a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
