<div class="container courses">
  <div class="row">
    
    <div class="col-lg-4 mb-5">
      <div style="border: 1px solid white; background-color: white; border-radius: 15px; ">
        <a href="/courses/white-belt" style="text-decoration: none; border-bottom: 1px solid #aaa;">
          <div class="border-bottom mb-3" style="position: relative;">
            <img src="/images/courses/white-balt.png" style="width: 100%; height: auto;" />
            <div style="position: absolute;
              top: -12px;
              right: -10px;
              background-color: #cfcfcf;
              transform: rotate(12deg);
              color: white;
              padding: 10px 20px;
              font-size: 18px;
              border-radius: 15px;"
            >
              100% Off
            </div>
          </div>
          <h3 class="text-black mb-3 text-center" style="text-decoration: none;">
            <span style="text-decoration: none; border-bottom: 3px solid #cfcfcf;">
              White Belt    
            </span>
          </h3>
        </a>
        <div class="p-3 d-flex align-items-center justify-content-center">
          <table>
            <tr>
              <td class="text-center pb-3">
                <strong>Level:</strong><br/>
                Simple<br/>
              </td>              
              <td class="text-center pb-3">
                <strong>Mode:</strong><br/>
                Online<br/>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text-center pt-3">
                <strong>Pricing</strong><br />
                <h3>₹0</h3><h6 class="text-secondary m-0"><s class="text-secondary">₹2000</s>&nbsp;<span>(100% off)</span></h6>(forever)
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-5">
      <div style="border: 1px solid white; background-color: white; border-radius: 15px; ">
        <a href="/courses/yellow-belt" style="text-decoration: none; border-bottom: 1px solid #aaa;">
          <div class="border-bottom mb-3" style="position: relative;">
            <img src="/images/courses/yellow-balt.png" style="width: 100%; height: auto;" />
            <div style="position: absolute;
              top: -12px;
              right: -10px;
              background-color: #fbcc44;
              transform: rotate(12deg);
              color: white;
              padding: 10px 20px;
              font-size: 18px;
              border-radius: 15px;"
            >
              60% Off
            </div>
          </div>
          <h3 class="text-black mb-3 text-center" style="text-decoration: none;">
            <span style="text-decoration: none; border-bottom: 3px solid #fbcc44;">
              Yellow Belt    
            </span>
          </h3>
        </a>
        <div class="p-3 d-flex align-items-center justify-content-center">
          <table>
            <tr>
              <td class="text-center pb-3">
                <strong>Level:</strong><br/>
                Simple<br/>
              </td>              
              <td class="text-center pb-3">
                <strong>Mode:</strong><br/>
                Online<br/>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text-center pt-3">
                <strong>Pricing</strong><br />
                <h3>₹1499</h3><h6 class="text-secondary m-0"><s class="text-secondary">₹2398</s>&nbsp;<span>(60% off)</span></h6>(limited)
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-5">
      <div style="border: 1px solid white; background-color: white; border-radius: 15px; ">
        <a href="/courses/orange-belt" style="text-decoration: none; border-bottom: 1px solid #aaa;">
          <div class="border-bottom mb-3" style="position: relative;">
            <img src="/images/courses/orange-balt.png" style="width: 100%; height: auto;" />
            <div style="position: absolute;
              top: -12px;
              right: -10px;
              background-color: #ff9a23;
              transform: rotate(12deg);
              color: white;
              padding: 10px 20px;
              font-size: 18px;
              border-radius: 15px;"
            >
              80% Off
            </div>
          </div>
          <h3 class="text-black mb-3 text-center" style="text-decoration: none;">
            <span style="text-decoration: none; border-bottom: 3px solid #ff9a23;">
              Orange Belt    
            </span>
          </h3>
        </a>
        <div class="p-3 d-flex align-items-center justify-content-center">
          <table>
            <tr>
              <td class="text-center pb-3">
                <strong>Level:</strong><br/>
                Simple<br/>
              </td>              
              <td class="text-center pb-3">
                <strong>Mode:</strong><br/>
                Online<br/>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text-center pt-3">
                <strong>Pricing</strong><br />
                <h3>₹1999</h3><h6 class="text-secondary m-0"><s class="text-secondary">₹3599</s>&nbsp;<span>(80% off)</span></h6>(limited)
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>