<div class="container">
  <div class="row">
    <div class="my-5 text-left col-md-4 d-flex">
      <div class="w-100 p-5 bs-1 card b-30" style="border-radius: 26px">
        <h4 class="flex-grow-1 text-center">Zero Belt</h4>
        <hr />
        <div><strong>Title:</strong> Zero Belt</div>
        <div>
          <strong>Description:</strong> Zero Belt is free course. In this course
          you learn many things. if you like this course go to scholar courses
        </div>
        <div><strong>Level:</strong> Simple</div>
        <div><strong>Pricing:</strong> free</div>
        <div><strong>Duration:</strong> 20 mins per video</div>
        <div style="padding-top: 7px">
          <a href="/courses/zero-belt">Read More</a>
        </div>
      </div>
    </div>
    <div class="my-5 text-left col-md-4 d-flex">
      <div class="w-100 p-5 bs-1 card b-30" style="border-radius: 26px">
        <h4 class="flex-grow-1 text-center">White Belt</h4>
        <hr />
        <div><strong>Title:</strong> White Belt</div>
        <div>
          <strong>Description:</strong> White belt is scholar course with below
          Pricing
        </div>
        <div><strong>Level:</strong> Medium</div>
        <div><strong>Pricing:</strong> $2</div>
        <div><strong>Duration:</strong> 5 Days(1.15hour/Day)</div>
        <div style="padding-top: 7px">
          <a href="/courses/white-belt">Read More</a>
        </div>
      </div>
    </div>
    <div class="my-5 text-left col-md-4 d-flex">
      <div class="w-100 p-5 bs-1 card b-30" style="border-radius: 26px">
        <h4 class="flex-grow-1 text-center">Yellow Belt</h4>
        <hr />
        <div><strong>Title:</strong> Yellow Belt</div>
        <div>
          <strong>Description:</strong> Yellow belt is scholar courses. with
          certificate.
        </div>
        <div><strong>Level:</strong> High</div>
        <div><strong>Pricing:</strong> $5</div>
        <div><strong>Duration:</strong> 5 Days(1.15hour/Day)</div>
        <div style="padding-top: 7px">
          <a href="/courses/yellow-belt">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-lg-4">
  <h4 class="flex-grow-1 text-center">Zero Belt</h4>
  <hr />
  <div><strong>Title:</strong> Zero Belt</div>
  <div>
    <strong>Description:</strong> Zero Belt is free course. In this course you
    learn many things. if you like this course go to scholar courses
  </div>
  <div><strong>Level:</strong> Simple</div>
  <div><strong>Pricing:</strong> free</div>
  <div><strong>Duration:</strong> 20 mins per video</div>
  <div style="padding-top: 7px"><a href="/courses/zero-belt">Read More</a></div>
</div>
<div class="col-lg-4">
    <h4 class="flex-grow-1 text-center">White Belt</h4>
    <hr>
  <div><strong>Title:</strong> White Belt</div>
  <div>
    <strong>Description:</strong> White belt is scholar course with below
    Pricing
  </div>
  <div><strong>Level:</strong> Medium</div>
  <div><strong>Pricing:</strong> $2</div>
  <div><strong>Duration:</strong> 5 Days(1.15hour/Day)</div>
  <div style="padding-top: 7px">
    <a href="/courses/white-belt">Read More</a>
  </div>
  
</div>
<div class="col-lg-4">
  <h4 class="flex-grow-1 text-center">Yellow Belt</h4>
  <hr />
  <div><strong>Title:</strong> Yellow Belt</div>
  <div>
    <strong>Description:</strong> Yellow belt is scholar courses. with
    certificate.
  </div>
  <div><strong>Level:</strong> High</div>
  <div><strong>Pricing:</strong> $5</div>
  <div><strong>Duration:</strong> 5 Days(1.15hour/Day)</div>
  <div style="padding-top: 7px">
    <a href="/courses/yellow-belt">Read More</a>
  </div>
</div> -->
