html,
body,
* {
  font-family: "Rubik", sans-serif !important;
}

.wrapper {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("/images/bg-4-min.png");
}

.fs4 {
  font-size: 3.5rem;
}

.mw-800 {
  max-width: 800px;
}

.bs-1 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.bs-2 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.number {
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 100px;
  border: 5px solid #9f9f9f;
}

.bb {
  border-bottom: 1px solid #cfcfcf;
}

.a-content {
  color: #303030;
  border-bottom: 1px solid #cfcfcf;
}

svg.svelte-ekc7fv.svelte-ekc7fv {
  /* margin: 16px 11px !important; */
  height: 35px !important;
  width: 25px !important;
}

.PaymentButton.svelte-ekc7fv.svelte-ekc7fv {
  padding: 5px 43px !important;
  height: 53px !important;
  border-radius: var(--bs-border-radius) !important;
}

.PaymentButton-securedBy.svelte-ekc7fv.svelte-ekc7fv {
  font-size: 9px !important;
}

.PaymentButton-text.svelte-ekc7fv.svelte-ekc7fv {
  font-size: 16px !important;
}

.course-card {
  border-radius: 26px !important;
}

form .razorpay-payment-button {
  width: 100% !important;
}

form .razorpay-payment-button a.PaymentButton.PaymentButton--dark {
  width: 100% !important;
  height: auto !important;
  padding: 15px !important;
}

form .PaymentButton-contents {
  padding: 0 !important;
}

form .PaymentButton-contents .PaymentButton-text {
  font-size: 16px;
  display: block;
  min-height: unset;
  line-height: unset;
  font-weight: normal;
}

.PaymentButton svg {
  display: none;
}

.PaymentButton-securedBy {
  display: none;
}

.fs10 {
  font-size: 10px;
  font-style: italic;
}

.lg1 {
  line-height: 1;
}

.discount-tag {
  position: absolute;
  transform: rotate(12deg);
  color: black;
  right: -15px;
  top: -23px;
  padding: 9px 15px;
  font-size: 15px;
  border-radius: 15px;
}

.tag-position {
  position: relative;
}

.discount-tag-listpage {
  position: absolute;
  top: -12px;
  right: -10px;
  transform: rotate(12deg);
  color: black;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 15px;
}

@media only screen and (min-width: 915px) {
  .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 3rem !important;
    height: 5rem !important;
  }
  
  .carousel-control-prev {
    margin-left: -130px;
  }
  
  .carousel-control-next {
    margin-right: -130px;
  }
}

.carousel-indicators {
   bottom: -50px !important;
}

img{
  max-width: 100%;
}

/*************************************************/
/* USE THE FOLLOWING CSS TO STYLE YOUR PAGINATOR */
/*************************************************/
.pagination {
  display: flex;
  list-style: none;
  border-radius: .25rem;
  margin-top: 60px;
  padding: 0;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: 20px !important;
  margin-left: -1px;
 
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
  background-color: #fff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
