<div class="mw-800 text-center">
  <h1 class="mb-3 fs4" style="height: 200px;">
    Learn <span class="text-primary">image processing</span> with
    <span class="text-primary">OpenCV</span> & earn a
    <span class="text-decoration-underline">CERTIFICATE</span>
  </h1>
  <div class="d-flex justify-content-center my-2">
    <p style="max-width: 400px; font-weight: 500;">
      Join our premium OpenCV workshops that expedite your learning journey with
      practical examples and expert guidance.
    </p>
  </div>
</div>
