{{ define "title" }}{{ .Site.Title }}{{ end }} {{ define "description" }}{{
.Site.Params.description }}{{ end }} {{ define "main" }}
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <div class="d-flex align-items-center justify-content-center py-5">
          <div class="mw-800 text-center">
            <h1 class="mb-3 fs2">{{.Title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-4 a-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="text-center p-3">
          <img
            style="width: 70%"
            src="/images/blog/{{.Params.image}}"
            alt="Image processing workshop by opencv"
          />
         
        </div>
        {{.Content}}
      </div>
    </div>
  </div>
</div>
{{ end }}
