<div class="col-lg-4 p-5">
  <img src="/images/bhavya.jpg" alt="opencv testimonials" />
  <h4 class="mt-5">Bhavya J Patel</h4>
  <p>Student</p>
  <p>
    From June 19th to June 23rd, I had the opportunity to participate in a
    transformative hands-on learning experience focused on image processing
    techniques. This workshop was an incredible journey that significantly
    expanded my knowledge and deepened my understanding of this field. It
    covered a spectrum of topics, starting from fundamental image operations
    like filtering and thresholding, and progressing to more advanced concepts
    such as feature extraction and object detection. I found the content to be
    comprehensive and engaging, making it a valuable and enriching experience.
  </p>
</div>

<div class="col-lg-4 p-5">
  <img src="/images/nensi.jpg" alt="opencv testimonials" />
  <h4 class="mt-5">Nensi Ravaliya</h4>
  <p>Student</p>
  <p>
    I would like to express my appreciation for the Image Processing course we
    recently completed. The course covered a wide spectrum of topics, including
    OpenCV, image classification, basics of machine learning, object detection,
    segmentation, and more. I would like to provide feedback on this enriching
    learning experience. This course is having comprehensive content, Engagement
    and Interaction, Industry Relevance like the course's emphasis on real-world
    applications, particularly in machine learning, object detection, and
    segmentation, made it highly pertinent to industry needs. They give Hands-On
    Learning also. I must say if you want to learn about OpenCV then join it
    quickly.
  </p>
</div>
