<div class="col-md-6">
  <div class="">
    <div class="d-flex bs-2 rounded bg-white flex-wrap">
      <div class="">
        <div class="text-start mt-4 px-5" style="display: flex">
          {{ $image := resources.Get "images/bhavya.webp" }} {{ $image :=
          $image.Resize "x100" }} {{ with $image }}
          <img
            src="{{ .RelPermalink }}"
            alt="bhavya - opencv past participant"
          />
          {{ end }}
          <div class="px-3 mt-4">
            <h3>Bhavya J Patel</h3>
            <p>Student</p>
          </div>
        </div>
      </div>
      <p class="card-text px-5 py-4">
        <q>
          6月19日至6月23日，我進行了沉浸式學習
          機會集中在影像處理技術。本次研討會是
          一次深刻的教育之旅，大大提升了我的專業知識和
          對該領域的洞察力。它涵蓋了廣泛的主題，
          從基本的影像處理開始，例如過濾和 閾值化，並推進到更複雜的主題，包括
          特徵提取和目標檢測。內容既詳盡又全面
          令人著迷，使其成為一種寶貴且豐富的體驗。
        </q>
      </p>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="">
    <div class="d-flex bs-2 rounded bg-white flex-wrap">
      <div class="">
        <div class="text-start mt-4 px-5" style="display: flex">
          {{ $image := resources.Get "images/nensi.webp" }} {{ $image :=
          $image.Resize "x100" }} {{ with $image }}
          <img
            src="{{ .RelPermalink }}"
            alt="bhavya - opencv past participant"
          />
          {{ end }}
          <div class="px-3 mt-4">
            <h3>Nensi Ravaliya</h3>
            <p>Student</p>
          </div>
        </div>
      </div>
      <p class="card-text px-5 py-4">
        <q>
          我想對我們最近完成的圖像處理課程表示感謝。本課程涵蓋了廣泛的主題，包括
          OpenCV、影像分類、機器學習基礎知識、物件偵測、分割等。我想就這豐富的學習經驗提供回饋。
          本課程內容全面、互動性強、產業相關性強，課程強調實際應用，特別是機器學習、物件偵測和分割方面，與產業需求高度相關。他們還提供實踐學習。</q
        >
      </p>
    </div>
  </div>
</div>
