{{ define "title" }}{{ .Site.Title }}{{ end }} {{ define "description" }}{{
.Site.Params.description }}{{ end }} {{ define "main" }}
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <div class="d-flex align-items-center justify-content-center py-5">
          <div class="mw-800 text-center">
            <h1 class="mb-3 fs4">{{.Title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-5 mt-1 bg-dark" id="course">
  <div class="container">
    <div class="row">
      <div class="col py-5">
        {{ partial "courses/list.html" . }} 
      </div>
    </div>
  </div>
</div>
<hr />

{{ end }}
