<footer class="container py-5" id="contact_us">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div>© 2023 OpenCV Courses. All rights reserved.</div>
          <div>
            <a href="https://www.linkedin.com/company/opencv-courses/" target="_blank">
              <img src="/images/linkedin.svg" />
            </a>
          </div>
          <div>
            <a href="mailto:contact@opencv.courses">contact@opencv.courses</a>
          </div>
        </div>
      </div>
    </div>
  </footer> 
