<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark"
  data-bs-theme="dark"
>
  <div class="container">
    <a class="navbar-brand" href="/">
      <div class="d-flex align-items-center justify-content-center">
        <img src="/images/logo.png" height="25" class="me-2" />
        <span>OpenCV Courses</span>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/courses">培訓班</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#memories">畫廊</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#experts">專家</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#why_us">為什麼是我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">部落格</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#testimonials">感言</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contact_us">聯絡我們</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
