<div class="row">
  <div class="col-lg-6 offset-lg-3 text-center">
    <h1 class="pb-3 text-white">認識您的專家</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-9 offset-lg-2">
    <div class="d-flex align-items-center bs-2 rounded bg-white flex-wrap">
      <div class="col-md-6">
        <img src="/images/q-ma.webp" class="card-img-top" alt="Q Ma" />
      </div>
      <div class="p-3 col-md-6">
        <h1 class="h3-font">Q Ma</h1>
        <p class="card-text">
          Q
          Ma擁有二十多年的機器視覺和計算機影像方面的經驗，在美國、歐洲和亞洲的多個製造現場工作過。
          <br /><br />
          他的職場生涯最初專注於測量和檢測領域，並意識到了計算機視覺和機器學習的巨大潛力。
          <br /><br />
          憑藉他的專業知識，Q
          Ma成功應用機器視覺技術在系統設計中，涵蓋硬件和軟件創新。
          <br /><br />
          他在檢測、計量、控制、分類和深度學習等多個領域領導過眾多項目。
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-9 offset-lg-2 mt-5">
    <div class="d-flex align-items-center bs-2 rounded bg-white flex-wrap">
      <div class="col-md-6">
        <img src="/images/shiva.webp" class="card-img-top" alt="shiva" />
      </div>
      <div class="p-3 col-md-6">
        <h1 class="h3-font">>Shiva</h1>
        <p class="card-text">
            一位充滿熱情的教育工作者，專注於圖像處理領域，具有扎實的學術背景和實際的計算機視覺專業知識。她致力於分享知識，幫助學生發掘強大的OpenCV庫的潛力，她的教學理念圍繞著實踐學習和互動項目。
            <br /><br />
            為學生創造一個支持和合作的學習環境對她來說很重要。她相信通過真實的例子來引起學生的興趣，鼓勵他們探索和嘗試各種圖像處理技術。
            <br /><br />
            通過激發動力和好奇心，她的目標是賦予學生學習的動力，理解圖像處理的複雜性。
        </p>
      </div>
    </div>
  </div>
</div>
