{{ if in .Permalink "/blog" }}
{{ range .Paginator.Pages }}
<div class="col-lg-4">
  <h1 style="cursor: pointer;" class="mt-5 text-decoration-underline h4"><a class="text-black" href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <p>{{ .Summary }}</p>
</div>
{{ end }}
{{ else }}
{{ range .Paginator.Pages }}
<div class="col-lg-4">
  <h1 style="cursor: pointer;" class="mt-5 text-decoration-underline h4"><a class="text-white" href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <p>{{ .Summary }}</p>
</div>
{{ end }}
{{ end }}
