{{ define "title" }}{{ .Site.Title }}{{ end }}
{{ define "description" }}{{ .Site.Params.description }}{{ end }}

{{ define "main" }}
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <div class="d-flex align-items-center justify-content-center py-5">
          <div class="mw-800 text-center">
            <h1 class="mb-3 fs4">Learn <span class="text-primary">image processing</span> with <span class="text-primary">OpenCV</span> & earn a free <span class="text-decoration-underline">CERTIFICATE</span></h1>
            <div class="d-flex justify-content-center my-2">
              <h6 style="max-width: 400px;">
                Participate in free OpenCV workshops that accelerate your learning with OpenCV examples
              </h6>
            </div>
            <a href="https://forms.gle/z9f7y35jtHtGDmUQ8" target="_blank">
              <button class="btn btn-primary px-5 py-3 fs-5">Register</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-5 mt-1 bg-dark text-white" id="course">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-center">
        <h1 class="pb-5">Course</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 offset-lg-2">
        <div class="d-flex justify-content-center">
          <div>
            <h3 class="number">1</h3>
          </div>
          <div>
            <h3>Image Processing Opportunities and Vision</h3>
            <p class="pb-3">Let’s unravel the fascinating world of Image Processing Opportunities and Vision. Uncover the boundless potential and practical implementations of vision technologies across a multitude of industries, promising a future full of innovation and advancements.</p>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div>
            <h3 class="number">2</h3>
          </div>
          <div>
            <h3>Imaging Basics</h3>
            <p class="pb-3">Prepare to enhance your skills and grasp the core concepts, setting the stage for a strong foundation in the fascinating world of image processing!</p>
          </div>
        </div>


        <div class="d-flex justify-content-center">
          <div>
            <h3 class="number">3</h3>
          </div>
          <div>
            <h3>Image processing Core Operations</h3>
            <p class="pb-3">Now that we have a firm grasp on imaging basics, let's dive into the exciting realm of image operations. Discover the operations like image filtering, thresholding, and pixel manipulation  that allow us to elevate, analyze, and creatively modify the visual content of images, opening up a world of endless possibilities!</p>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div>
            <h3 class="number">4</h3>
          </div>
          <div>
            <h3>Intro to Image Enhancement</h3>
            <p class="pb-3">As we delve deeper into core operations, we'll unlock the art of enhancing the visual quality and appearance of images through an array of techniques. Journey into the realm of image improvement, where creativity knows no bounds!</p>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div>
            <h3 class="number">5</h3>
          </div>
          <div>
            <h3>Intro to object detection</h3>
            <p class="pb-3">The excitement doesn't end! Brace yourself for a thrilling exploration of object detection techniques as we expand your toolkit and venture into diverse approaches. Get ready to broaden your horizons and uncover the fascinating world of object detection!</p>
          </div>
        </div>
        
      </div>
      <div class="col-lg-3">
        <div class="mx-2 rounded py-3 mb-3 text-center bs-2 bg-white text-dark">
          <h3>5</h3>
          Days
        </div>
        <div class="mx-2 rounded py-3 mb-3 text-center bs-2 bg-white text-dark">
          <h3>1.15hour/Day</h3>
          Duration
        </div>
        <div class="mx-2 rounded py-3 mb-3 text-center bs-2 bg-white text-dark">
          <h3>$0</h3>
          <h6 class="text-secondary m-0">
            <s class="text-secondary">$99</s>&nbsp;<span>(100% off)</span>
          </h6>
          (for the limited time being)
        </div>           
      </div>

      <div class="col-lg-8 offset-lg-2">
        <br/>
        <div class="d-flex align-items-center justify-content-center">
          <hr style="width: 200px;" />
        </div>
        <br/>
        <h2 class="text-center">Course Outcome</h2>
        <br/>            
        <p> This exciting course will equip students with the essential skills in image processing! They'll explore imaging basics, core operations, histograms, segmentation, object detection, shape descriptions, and more.</p>
        <p>By the end of the course, students will have a versatile toolkit of techniques and methods for analyzing and enhancing images. They'll confidently apply their skills to practical projects and real-life industrial examples, demonstrating their proficiency in image analysis and processing.
        <p>Get ready to unlock your potential and embark on a captivating journey into the world of image processing!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 mt-3 text-center">
        <a href="https://forms.gle/z9f7y35jtHtGDmUQ8" target="_blank">
          <button class="btn btn-primary px-5 py-3 fs-5">Register</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="py-5 mt-1" id="experts">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-center">
        <h1 class="pb-3">Meet your experts</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 offset-lg-2">
        <div class="d-flex align-items-center bs-2 rounded bg-white flex-wrap">
          <div class="col-md-6">
            <img src="/images/q-ma.jpg" class="card-img-top" alt="Q Ma">
          </div>
          <div class="p-3 col-md-6">
            <h3>Q Ma</h3>
            <p class="card-text">
              Q Ma brings over two decades of experience in machine vision and computer imaging, having
              worked across multiple manufacturing sites in the United States, Europe, and Asia. <br /><br />
              His career initially focused on Measurements and Inspection, where he recognized the immense potential of
              computer vision and machine learning. <br /><br />
              Leveraging his expertise, Q Ma has successfully applied machine vision technologies in system designs encompassing both hardware and software
              innovation. <br /><br />
              He has led numerous projects in diverse areas, including Inspection, Metrology, Controls, Classification, and Deep Learning.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-9 offset-lg-2 mt-5">
        <div class="d-flex align-items-center bs-2 rounded bg-white flex-wrap">
          <div class="col-md-6">
            <img src="/images/shiva.png" class="card-img-top" alt="shiva">
          </div>
          <div class="p-3 col-md-6">
            <h3>Shiva</h3>
            <p class="card-text">
              She is a passionate educator specializing in the field of image processing with a robust academic background and practical expertise in computer vision. She is strongly dedicated to sharing knowledge and helping students unlock the potential of the powerful OpenCV library, she follows a teaching philosophy centered around hands-on learning and interactive projects. <br /><br />
              Creating a supportive and collaborative learning environment is of utmost importance to her. She believes in engaging students through real-world examples and encouraging them to explore and experiment with various image-processing techniques. <br /><br />
              By fostering motivation and curiosity, she aims to empower students in their journey of learning and understanding the intricacies of image processing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-dark text-white py-5" id="why_us">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="mb-5">Why Us</h1>
      </div>
      <div class="col-lg-8 offset-lg-2">
        We understand that starting with OpenCV can be quite daunting. The confusion surrounding input parameters and the lack of helpful documentation can make the learning process frustrating. <br /><br />
        Are you tired of constantly debugging your computer vision algorithms because the OpenCV documentation fails to provide clarity on image types?<br /><br />
        Perhaps you're unsure which technique to employ for image restoration, or you find yourself questioning whether image enhancement would be more suitable.<br /><br />
        <ul>
          <li>
            The frustration of selecting the right filter for image deblurring and sharpening is real. Understanding the distinction between filter2D kernel and other convolution kernels might catch you off guard.
          </li>
          <li>We recognize the difficulty in finding the optimal threshold value and truly comprehending the differences between local and global thresholding methods in OpenCV.</li>
          <li>You might still be grappling with the disparities between histogram equalization and normalization.</li>
          <li>
            Choosing the best image segmentation technique can be an uphill battle. Even deciding between dilation and erosion becomes challenging when you're uncertain which morphological transformation is required.
          </li>
          <li>The same applies to choosing between affine transformation and perspective image transformation.</li>
          <li>You may not be aware that the boundingRect operator can outperform minAreaRect in certain situations.</li>
          <li>Drawing an ellipse inside a rectangle or understanding the distinction between cv2.clone() and copyTo() might leave you scratching your head.</li>
          <li>And let's not even get started on the confusion between edges and contours in OpenCV, not to mention the differentiation between blobs and noise.</li>
          <li>If you haven't explored CLAHE, your color balancing tasks might not yield the desired quality results.</li>
          <li>And the concept of floodFilling might seem perplexing.</li>
          <li>Don't even get us started on moments operators and huMoments that can leave you puzzled.</li>
          <li>The houghLines function might sound like a foreign concept.</li>
        </ul>
        We understand the challenges of using machine learning with OpenCV.<br /><br />
        We are well aware of all these challenges and more. You are not alone. Many beginners, students, and hobbyists in image processing face similar confusions when it comes to OpenCV. That's precisely why we offer our comprehensive OpenCV tutorials to assist you.<br /><br />
        Our experts are the best of the best OpenCV instructors. They are industry experts with PhD degrees in the field of computer vision, equipped to provide you with the best practices for achieving meaningful results in your image processing tasks.<br /><br />
        Learn the tips and tricks of OpenCV from the masters themselves, surpassing even the knowledge that ChatGPT can provide. All your questions will be answered, and your confusion will be resolved. Embark on the journey of the best OpenCV course in India.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 mt-3 text-center">
        <a href="https://forms.gle/z9f7y35jtHtGDmUQ8" target="_blank">
          <button class="btn btn-primary px-5 py-3 fs-5">Register</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="p-5 bb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="mb-0">Blog</h1>
      </div>
      {{ partial "blog/list.html" . }}
    </div>
  </div>
</div>
{{ end }}
